<h1>Welcome to my cribbb</h1>
<p>
	You've found the beginning of a new adventure.
	If bored, please visit
	<%= link_to "Endangered Money", "http://endangeredmoney.com" %>
</p>
<p>
	<%= link_to "Sign up now", "#" %>
</p>