<div class="hero-unit">
	<h1>Welcome to my PWP project</h1>
	<p>
		You've found the beginning of a new adventure.
		If bored, please visit
		<%= link_to "Endangered Money", "http://endangeredmoney.com" %>
	</p>
	<p>
		<%= link_to "Join the fun", "#", class:"btn btn-primary btn-large" %>
	</p>
</div>